argon2-cffi==20.1.0
asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.2
dj-database-url==0.5.0
Django==3.1.6
django-cors-headers==3.6.0
django-filter==2.4.0
django-heroku==0.3.1
django-rest-resetpassword==0.1.2
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
gunicorn==20.0.4
Markdown==3.3.3
newrelic==6.0.1.155
Pillow==8.1.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
python-http-client==3.3.1
pytz==2020.5
sib-api-v3-sdk==7.2.0
six==1.15.0
sqlparse==0.4.1
starkbank-ecdsa==1.1.0
urllib3==1.26.3
whitenoise==5.2.0
wincertstore==0.2
